.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: center;
}

li {
  list-style: none;
}

h1 {
  padding:30px;
  border: 2px solid black;
  background: lightcyan;
}

h2 {
  padding: 20px 50px;
  border: 2px solid black;
  display: inline-block;
}

button.btn{
  padding: 10px 25px;
  font-size: 24px;
  border-radius: 5px;
}


#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background:  #352275;
  padding: 0px 40px;
}

#navbar li {
  list-style: none;
  display: inline-block;
  margin: 0px 40px; 
  font-size: 22px;
  color:white;
}

div.nav-details > * {
  display: inline-block;
  color: royalblue;
  font-size: 22px;
}

.movie-card {
  padding: 20px;
  border: 2px solid blueviolet;
  margin-bottom: 20px;
}